{{#each tabs}}
   <div class="tab-panel" id="tab_{{@key}}" style="display:{{#if @first}}block{{else}}none{{/if}};">
      {{#each this}}
      <div class="tab-panel-group">
         {{#each this}}
            <div class="tab-group-content tab-group-{{type}}">

               {{#ifCond type "big-button"}}
                  <button data-name="{{name}}" class="nitro-button nitro-big-button {{#if dropdown}}dropdown-toggle{{/if}}">
                     <a href="#" class="button">
                        {{#if glyph}}
                           <span class="icon {{glyph}}"></span>
                        {{/if}}
                        {{#if img}}
                           <img class="icon" src="{{img}}" />
                        {{/if}}
                     </a>
                        {{#if label}}
                           <span class="label">{{label}}</span>
                        {{/if}}
                  </button>
               {{/ifCond}}

               {{#ifCond type "small-button"}}
                  <button data-name="{{name}}" class="nitro-button nitro-small-button {{#if dropdown}}dropdown-toggle{{/if}}">
                     <a href="#" class="button">
                        {{#if glyph}}
                           <span class="icon {{glyph}}"></span>
                        {{/if}}
                        {{#if img}}
                           <img class="icon" src="{{img}}" />
                        {{/if}}
                        {{#if label}}
                           <span class="label">{{label}}</span>
                        {{/if}}
                     </a>
                  </button>
               {{/ifCond}}

               {{#ifCond type "mini-button"}}
                  <button data-name="{{name}}" class="nitro-button nitro-mini-button {{#if dropdown}}dropdown-toggle{{/if}}">
                     <a href="#" class="button">
                        {{#if glyph}}
                           <span class="icon {{glyph}}"></span>
                        {{/if}}
                        {{#if img}}
                           <img class="icon" src="{{img}}" />
                        {{/if}}
                        {{#if label}}
                           <span class="label">{{label}}</span>
                        {{/if}}
                     </a>
                  </button>
               {{/ifCond}}

               {{#if dropdown}}
                  <ul class="d-menu nitro-menu" data-role="dropdown">
                     {{#each dropdown}}
                        <li><a data-name={{@key}} href="#">{{this}}</a></li>
                     {{/each}}
                  </ul>
               {{/if}}

            </div>
         {{/each}}
      </div>
      {{/each}}
   </div>
{{/each}}
